* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: darkgrey;
    height: 100%;
    width:auto;
    padding: 1em 0;
}

.logo {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    padding-left: 1em;
}

nav ul {
    float: right;
    padding-right: 1em;
    color: white;
}

nav ul li {
    display: inline-block;
    padding: 0 1em;

}

a {
    color: white;
    text-transform: uppercase;
}

a.active, a:hover {
    background: #1b9bff;
    
}